@model IEnumerable<Listing> 

@{
    Layout = "_BasicLayout";
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Controllers and Actions</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <h1>List of All Equipment</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Role</th>
                <th>Equipment</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var listing in Model) {
                <tr>
                    <td>@listing.Name</td>
                    <td>@listing.Phone</td>
                    <td>@listing.Email</td>
                    <td>@listing.Role</td>
                    <td>@listing.Equipment</td>
                    <td>
                        <a href="/Home/RequestDetails/@listing.Id">Details</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>

    

</body>
</html>